.root {
  margin-top: 1rem;
}

.iconContainer {
  margin-top: 1rem;
  padding: 1rem 1rem;
  display: flex;
  width: 100%;
}

.iconButton {
  flex: 1 1 auto;
  align-self: center;
}

.iconButton:not(:last-child) {
  border-right: 1px dashed #CCCCCC !important;
}





