{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "no-confusing-arrow": 0,
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"],
    "object-curly-spacing": ["error", "never"],
    "func-names": ["error", "never"],
    "max-len": ["error", {
        "ignoreTrailingComments": true,
        "ignoreComments": true,
        "code": 150
      }
    ],
    "react/prop-types": [0]
  }
}
